@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color-dark: #1a1c1c;
    --primary-color-dark2: #121113;
    --secudary-color: #ff5722;
    --text-color: #c0c0c0;
    --roteiro-color: #e6e2de;
    --roteiro-background: #e3dfdb;
    --color-dark-text:#444444;
    --color-text-light: #7c7c7c;
    --color-secudary-light: #e4e6c3;
    --color-secondary-dark: #b7bf9e;
    --gradient-1 : linear-gradient(to bottom, var(--primary-color-dark), #1d2127);
    --gradient-2: linear-gradient(to bottom, #317fec, #35e4df);
 
    --white: #ffffff;
    --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section__container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 3rem 1rem;
}
.section__header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 3rem;
    text-align: center;
}

.section__description {
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 2rem;
}
.btn{
    padding: .75rem 1.5rem;
    outline: none;
    bottom: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--primary-color-dark2);
    border-radius: 5rem;
    background-color: var(--color-secondary-dark);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    color: var(--white);
    background-color: var(--secudary-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    transition: .3s;
}
html, body{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-color-dark);
    color: var(--white);
}

.logo__header a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

img{
   display: flex;
   width: 100%; 
}
button{
    border: none;
}

.nav__container{
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;  
}
.nav__header {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: var(--gradient-1);
}
.logo__header {
    max-width: 150px;
}
.nav__menu__btn span{
    font-size: 1.5rem;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}
.nav__menu__btn span:hover{
    color: var(--secudary-color); 
}


.nav__links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    transition: .5s;
    z-index: -1;
    transform: translateY(-100%)
}

.nav__links.open {
    background-color: #1d2127;
    transform: translateY(0);
}

.nav__link__item a{
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
}
.nav__link__item a:hover{
    color: var(--secudary-color);
}

/*====header====*/

.header__container{
   display: grid;
   gap: 0 2rem;
}

.header__imagem img{
    margin-top: 2rem;
    max-width: 400px;
    height: 200px;
    margin-inline: auto;
    border-radius: 1rem;
}

.header__container h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
}
.header__container .section__desciption{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 200;
    margin-block: 1rem  2rem;
}
.header__container .section__desciption strong{
    color: var(--color-secondary-dark);
    font-weight: 600;
}
.header__bts {
    text-align: center;
}
.header__bts button{
    border: none;
}
.header__bts .btn:hover span {
    transform: translateX(5px);
}


/*SERVIÇO*/


.container-servico{
    display: grid;
    gap: 2rem;
}
.container-servico .section-titulo{
    text-align: center;
}

.texto__destaque{
    background-color: var(--secudary-color);
}

.cards-servico {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    transition: .3s;
}
.cards-servico
.icon-card span{
    color: var(--secudary-color);
    font-size: 2.5rem;
    transition: .3s;
}
.text-card .titulo-card {
    margin-bottom: .5rem;
}
.cards-servico:hover .icon-card span{
    color: var(--white);
}
.cards-servico:hover{
    background-color: #ff5722;
    border-color: var(--secudary-color);
}
.container-servico .servico-btn {
    text-align: center;
}

/*Roteiro*/
.container__roteiro{
    display: grid;
    padding-block: 2rem;
}
.textos-roteiro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}

.textos-roteiro .titulo__roteiro{
    font-size: 2rem;
    color: var(--secudary-color);
}

.textos-roteiro .section-titulo{
    padding-bottom: 1rem;
}

.textos-roteiro p {
    font-size: 1.2rem;
    color: var(--text-color);

}

.roteiro__imagem img{
    border-radius: 24px;
}

.roteiro__quadro{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   border-radius: 24px;
   background-color: var(--roteiro-background);
}
.roteiro__quadro
.titulo-quadro{
    color: var(--secudary-color);
    line-height: 1.3rem;
}

.roteiro-item {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid #1d21272a;
}
.roteiro-item .roteiro-haeder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roteiro-haeder h3, span{
    font-size: 1.4rem;
    color: var(--color-dark-text);
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
}
.roteiro-haeder span{
    font-weight: 400;
}
.roteiro-item:hover .roteiro-haeder h3{
    color: var(--secudary-color);
}
.roteiro-item:hover span{
    color: var(--secudary-color);
}
.roteiro-explica {
    display: none;
    margin-top: .5rem;
    font-size: 1.3rem;
    color: var(--color-text-light);
}
.roteiro-explica.open{
    display: flex;
}
/*FOOTER*/
footer{
    background-color: var(--primary-color-dark2);
}

.footer__container {
    display: grid;
    padding-inline: 2rem;
    padding-block: 2rem;
    gap: 2rem;
}

.footer__content {
    text-align: center;
}
.logo_footer img{
    max-width: 150px;
}
.footer__content p{
    margin-top: 1rem;
}

.footer__content .logo_footer,
.footer__content .titulo__footer {
    margin-bottom: 1rem;
}

.foote__list__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
.foote__list__social a {
    color: var(--secudary-color);
    font-size: 2rem;
    transition: .3s;
    cursor: pointer;
}
.foote__list__social a:hover{
    color: var(--white);
}
.footer-servico ul li {
    padding: .5rem 0;
}
.footer-servico ul li a{
    font-size: 1.3rem;
    color: var(--text-color);
    transition: .3s;
}
.footer-servico ul li a:hover{
    color: var(--secudary-color);
}

.content-copyright {
   width: 100%;
   text-align: center;
   color: #a0a0a0;
   padding: .5rem 0;
}





/*===============Media Quire======*/

@media( width > 540px){

    .header__imagem img {
        max-width: 690px;
        height: 400px;
    }
    .header__container h1 {
        text-align: left;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .container-servico{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 810px) {
    header{
        background-image: var(--gradient-1);
    }
    .nav__header{
        display: flex;
    }
    .nav__container {
        position: static;
        padding-block: 1rem;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .nav__header{
        flex-basis: auto;
        width: 150px;
        padding: 0;
    }
    .nav__menu__btn{
        display: none;
    }
    .nav__links{
        position: static;
        padding: 0;
        flex-direction: row;
        transform: none;
        justify-content: flex-end;
        flex-basis: auto;
    }
    .header__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "texto imagem";
    }

    .header__imagem img {
        border-radius: 1rem;
        grid-area: imagem ;
    }

}

@media (width > 940px){

    .container-servico {
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
     }
    .footer__container{
        grid-template-columns: repeat(4, 1fr);
    }
}

